<link rel="stylesheet" href="stylesheets/home.css">

<div id="landscape">

    <img id="imgPokemon" src=".\images\logo.png">

    <form action="/pokemon" method="POST">

        <input name="search" id="search" type="text" placeholder="Pesquise aqui..">

    </form>

</div>

<div id="conteudo"></div>

<script type="module" src="javascripts/api.js"></script>
